* {
    box-sizing: border-box;
    font-family: 'Staatliches', cursive;
}
header {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    float: left;
    background: #121212;
    height: 100vh;
    max-width: 25%;
    width: 100%;
}
.back {
    position: absolute;
    top:0;
    right: 0;
    color: white;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.name {
    color: #F2F2F2;
    /* transform: rotate(-90deg); */
    font-size: 80px;
    padding-left: 10px;
}
.info {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #AAAAAA;
    height: 33.33vh;
    max-width: 100%;
    width: auto;
    text-align: center
}
.info:hover {
    background: #421014;
}
.info:hover .label {
    color: white;
}
.projects {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #BDBDBD;
    height: 33.33vh;
    max-width: 100%;
    width: auto;
    text-align: center
}
.projects:hover {
    background: #571F29;
}
.projects:hover .label {
    color: white;
}
.contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #D2D2D2;
    height: 33.33vh;
    max-width: 100%;
    width: auto;
    text-align: center
}
.contacts:hover {
    background: #782F30;
}
.contacts:hover .label {
    color: white;
}
footer {
    background: #F2F2F2;
}
.label {
    color: #121212;
    font-size: 80px;
    justify-content: center;
}
.restLabel {
    font-size: 30px;
    padding: 5px;
}

.hidden {
    display: none;
}