* {
    box-sizing: border-box;
    font-family: 'Staatliches', cursive;
}
header {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    float: left;
    background: #121212;
    height: 100vh;
    max-width: 25%;
    width: 100%;
}
.back {
    position: absolute;
    top:0;
    right: 0;
    color: white;
}
main {
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.name {
    color: #F2F2F2;
    font-size: 6vw;
    padding-left: 10px;
    padding-bottom: 5px;
}
.info {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #AAAAAA;
    max-height: 66.66vh;
    height: 33.33vh;
    max-width: 100%;
    width: 100%;
    text-align: center;


    transition: height .1s;
}
.info:hover {
    background: #421014;
    height: 50vh;
}
.info:hover .label {
    color: white;
}
.info:hover .infoContent {
    color: white;
    height: 50vh;
}
.info:hover ~ .projects.projectsContent {
    visibility: hidden;
}
.infoContent {
    font-size: 24px;
    line-height: 24px;
    padding: 10px;

    transition: height .1s;
}
.projects {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: #BDBDBD;
    height: 33.33vh;
    max-width: 100%;
    width: 100%;
    text-align: center;

    transition: height .1s;
    overflow: scroll;
}
.quizImg {
    max-width: 18vw;
    width: auto;
}
.yourDestination {
    max-width: 18vw;
    width: auto;
}
.projectDestination {
    font-size: 20px;
    padding: 5px;
    line-height: 20px;
}
.destinationLivePage {
    color: white;
}
.projectQuiz {
    font-size: 20px;
    padding: 5px;
    line-height: 20px;
}
.githubLink {
    color: white;
}
.githubLink:hover {
    color: orange;
}
.quizLivePage {
    color: white;
}
.quizLivePage:hover {
    color: orange;
}
.projects:hover {
    background: #571F29;
    height: 60vh;
}
.projects:hover .label {
    color: white;
}
.projects:hover .projectsContent {
    color: white;
    position: relative;
}
.contacts {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #D2D2D2;
    height: 33.33vh;
    max-width: 100%;
    width: 100%;
    text-align: center;

    transition: height .1s;
}
.contactInfo {
    display: inline-flex;
}
.contactIcon {
    width: 5vw;
}
.contacts:hover {
    background: #782F30;
    height: 50vh;
}
.contacts:hover .label {
    color: white;
}
.contacts:hover .contactsContent {
    color: white;
}
footer {
    background: #F2F2F2;
}
.label {
    color: #121212;
    font-size: 80px;
    justify-content: center;
}
.restLabel {
    font-size: 30px;
    padding: 5px;
}

.hidden {
    display: none;;
}